@{
    ViewData["Title"] = "OPC 수집 관리";
}

<div class="page-device page-opc-control">
    <section class="page-toolbar opc-toolbar-line">
        <button id="btnStopSubscription" class="btn-basic" type="button">전체 디바이스 구독 중지</button>
        <button id="btnStartSubscription" class="btn-basic" type="button">전체 디바이스 구독 재시작</button>
        <button id="btnRefresh" class="btn-basic" type="button">새로고침</button>
    </section>

    <section class="page-toolbar opc-toolbar-line">
        <select id="selDevice">
            <option value="">디바이스 선택</option>
        </select>
        <button id="btnLoadDeviceStatus" class="btn-basic" type="button">선택 디바이스 상태 조회</button>
        <button id="btnStopDeviceSubscription" class="btn-basic" type="button">선택 디바이스 구독 중지</button>
        <button id="btnStartDeviceSubscription" class="btn-basic" type="button">선택 디바이스 구독 재시작</button>
    </section>

    <section class="opc-status-panel">
        <div class="opc-status-card">
            <div class="opc-status-title">전체 Collector 상태</div>

            <table class="basic-grid">
                <tbody>
                    <tr><th>디바이스 수</th><td id="lblDeviceCount">-</td></tr>
                    <tr><th>구독 태그 수</th><td id="lblSubscribedCount">-</td></tr>
                    <tr><th>Snapshot Rows</th><td id="lblTotalSnapshotRows">-</td></tr>
                    <tr><th>Inserted</th><td id="lblTotalInserted">-</td></tr>
                    <tr><th>구독 중지 상태</th><td id="lblSubscriptionStopped">-</td></tr>
                    @* <tr><th>DB 저장 중지 상태</th><td id="lblDbSaveStopped">-</td></tr> *@
                </tbody>
            </table>

            <div class="opc-status-title device-title">선택 디바이스 상태</div>

            <table class="basic-grid">
                <tbody>
                    <tr><th>DeviceId</th><td id="lblSelectedDeviceId">-</td></tr>
                    <tr><th>디바이스명</th><td id="lblSelectedDeviceName">-</td></tr>
                    <tr><th>태그 수</th><td id="lblSelectedTagCount">-</td></tr>
                    <tr><th>구독 태그 수</th><td id="lblSelectedSubscribedCount">-</td></tr>
                    <tr><th>현재값 수</th><td id="lblSelectedCurrentValueCount">-</td></tr>
                    <tr><th>Snapshot Rows</th><td id="lblSelectedTotalSnapshotRows">-</td></tr>
                    <tr><th>Inserted</th><td id="lblSelectedTotalInserted">-</td></tr>
                    <tr><th>구독 상태</th><td id="lblSelectedSubscriptionStopped">-</td></tr>
                    @* <tr><th>DB 저장 상태</th><td id="lblSelectedDbSaveStopped">-</td></tr> *@
                </tbody>
            </table>
        </div>

        <div class="opc-log-card">
            <div class="opc-log-header">
                <div class="opc-status-title">실행 로그</div>

                <div class="opc-log-buttons">
                    <button id="btnClearLogs" class="btn-basic" type="button">로그 지우기</button>
                    <button id="btnLoadLogs" class="btn-basic" type="button">로그 불러오기</button>
                </div>
            </div>

            <div id="logBox" class="opc-log-box"></div>
        </div>

        <div class="opc-status-title device-title">디바이스별 수집 상태</div>

        <table class="basic-grid">
            <thead>
                <tr>
                    <th>디바이스명</th>
                    <th>구독 상태</th>
                </tr>
            </thead>
            <tbody id="deviceSummaryBody">
                <tr>
                    <td colspan="3">-</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>

@section Scripts {
    <script src="~/1.0.0/js/views/opc/opc1000.js" asp-append-version="true"></script>
}