<div class="text-center">
    <h1 class="display-4">WebFlex</h1>

    <button id="btnTest" class="btn-test" type="button">
        테스트
    </button>
</div>

@section Scripts {
    <script src="~/js/dist/homeIndex.js" asp-append-version="true"></script>
}