@{
    ViewData["Title"] = "디바이스 관리";
}

<div class="page-device">
    <h1>디바이스 관리</h1>

    <button id="btnSearch" class="btn-search" type="button">
        조회
    </button>

    <div id="grid1" class="grid-area"></div>
</div>

@section Scripts {
    <script src="~/1.0.0/js/views/device/dvc1000.js" asp-append-version="true"></script>
}